name: go

on:
  pull_request:

permissions:
  contents: read
  pull-requests: write
  security-events: write
  actions: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit

      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          ref: ${{ github.event.pull_request.head.sha }}
          persist-credentials: false

      - name: Extract Go version
        uses: arnested/go-version-action@978371bd4d8cad0f54106c8be4273e2fcdd74f57 # v1.1.23
        id: go-version

      - name: Split version code
        uses: step-security/split-strings@d2212424ae73f4709b3a56faaf96ea42d189102f # v1.0.1
        id: split
        with:
          string: ${{ steps.go-version.outputs.go-mod-version }}
          separator: .
          limit: 2

      - name: Set up Go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version: '${{ steps.split.outputs._0 }}.${{ steps.split.outputs._1 }}'
          check-latest: true
          cache: true

      - name: Install dependencies
        run: go mod download

      - name: Verify dependencies
        run: go mod verify

      - name: Build
        run: go build -v ./...

      - name: Go Format
        run: gofmt -s -w . && git diff --exit-code

      - name: Go Generate
        run: go generate ./... && git diff --exit-code

      - id: govulncheck
        uses: golang/govulncheck-action@b625fbe08f3bccbe446d94fbf87fcc875a4f50ee # v1.0.4
        with:
          go-version-input: '${{ steps.split.outputs._0 }}.${{ steps.split.outputs._1 }}'
          go-package: ./...
          output-format: sarif
          output-file: results.sarif

      - name: Upload SARIF file
        uses: github/codeql-action/upload-sarif@fdbfb4d2750291e159f0156def62b853c2798ca2 # v3.29.5
        with:
          sarif_file: results.sarif
          category: govulncheck

      - name: Vet
        run: go vet ./...

      - name: Test
        run: go test ./... -v
